@font-face {
    font-family: 'Modern Pictograms';
    src: url('../fonts/modernpictograms-webfont.eot');
    src: url('../fonts/modernpictograms-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/modernpictograms-webfont.woff') format('woff'), url('../fonts/modernpictograms-webfont.ttf') format('truetype');
}
.mp-icon,
[class^="mp-"]:before,
[class*=" mp-"]:before,
[class^="mp-"].right:after,
[class*=" mp-"].right:after {
    font-family: 'Modern Pictograms';
}
.mp-camera:before,
.mp-camera.right:after {
    content: "A";
}
.mp-book:before,
.mp-book.right:after {
    content: "B";
}
.mp-cd:before,
.mp-cd.right:after {
    content: "C";
}
.mp-download:before,
.mp-download.right:after {
    content: "D";
}
.mp-eye:before,
.mp-eye.right:after {
    content: "E";
}
.mp-facebook:before,
.mp-facebook.right:after {
    content: "F";
}
.mp-facebook-alt:before,
.mp-facebook-alt.right:after {
    content: "G";
}
.mp-handycam:before,
.mp-handycam.right:after {
    content: "H";
}
.mp-trash:before,
.mp-trash.right:after {
    content: "I";
}
.mp-label:before,
.mp-label.right:after {
    content: "J";
}
.mp-file:before,
.mp-file.right:after {
    content: "K";
}
.mp-unlike:before,
.mp-unlike.right:after {
    content: "L";
}
.mp-ipod:before,
.mp-ipod.right:after {
    content: "M";
}
.mp-mobile:before,
.mp-mobile.right:after {
    content: "N";
}
.mp-smartphone:before,
.mp-smartphone.right:after {
    content: "O";
}
.mp-tablet:before,
.mp-tablet.right:after {
    content: "Q";
}
.mp-refresh:before,
.mp-refresh.right:after {
    content: "R";
}
.mp-presentation:before,
.mp-presentation.right:after {
    content: "S";
}
.mp-tumblr:before,
.mp-tumblr.right:after {
    content: "T";
}
.mp-tumblr-alt:before,
.mp-tumblr-alt.right:after {
    content: "U";
}
.mp-notes:before,
.mp-notes.right:after {
    content: "V";
}
.mp-windows:before,
.mp-windows.right:after {
    content: "W";
}
.mp-cancel:before,
.mp-cancel.right:after {
    content: "X";
}
.mp-announcement:before,
.mp-announcement.right:after {
    content: "Y";
}
.mp-text:before,
.mp-text.right:after {
    content: "Z";
}
.mp-news:before,
.mp-news.right:after {
    content: "a";
}
.mp-chat:before,
.mp-chat.right:after {
    content: "b";
}
.mp-phone:before,
.mp-phone.right:after {
    content: "c";
}
.mp-printer:before,
.mp-printer.right:after {
    content: "d";
}
.mp-pencil:before,
.mp-pencil.right:after {
    content: "e";
}
.mp-male:before,
.mp-male.right:after {
    content: "f";
}
.mp-group:before,
.mp-group.right:after {
    content: "g";
}
.mp-video-camera:before,
.mp-video-camera.right:after {
    content: "h";
}
.mp-cart:before,
.mp-cart.right:after {
    content: "i";
}
.mp-heart:before,
.mp-heart.right:after {
    content: "j";
}
.mp-female:before,
.mp-female.right:after {
    content: "k";
}
.mp-like:before,
.mp-like.right:after {
    content: "l";
}
.mp-mail:before,
.mp-mail.right:after {
    content: "m";
}
.mp-locked:before,
.mp-locked.right:after {
    content: "n";
}
.mp-options:before,
.mp-options.right:after {
    content: "o";
}
.mp-home:before,
.mp-home.right:after {
    content: "p";
}
.mp-unlocked:before,
.mp-unlocked.right:after {
    content: "q";
}
.mp-pencil-alt:before,
.mp-pencil-alt.right:after {
    content: "r";
}
.mp-search:before,
.mp-search.right:after {
    content: "s";
}
.mp-bird:before,
.mp-bird.right:after {
    content: "t";
}
.mp-exit-fullscreen:before,
.mp-exit-fullscreen.right:after {
    content: "u";
}
.mp-fullscreen:before,
.mp-fullscreen.right:after {
    content: "v";
}
.mp-www:before,
.mp-www.right:after {
    content: "w";
}
.mp-cancel-alt:before,
.mp-cancel-alt.right:after {
    content: "x";
}
.mp-zoom-in:before,
.mp-zoom-in.right:after {
    content: "y";
}
.mp-zoom-out:before,
.mp-zoom-out.right:after {
    content: "z";
}
.mp-volume-down:before,
.mp-volume-down.right:after {
    content: "1";
}
.mp-volume-up:before,
.mp-volume-up.right:after {
    content: "2";
}
.mp-calendar:before,
.mp-calendar.right:after {
    content: "3";
}
.mp-list:before,
.mp-list.right:after {
    content: "4";
}
.mp-columns:before,
.mp-columns.right:after {
    content: "5";
}
.mp-line-chart:before,
.mp-line-chart.right:after {
    content: "6";
}
.mp-chart:before,
.mp-chart.right:after {
    content: "7";
}
.mp-circle-chart:before,
.mp-circle-chart.right:after {
    content: "8";
}
.mp-bell:before,
.mp-bell.right:after {
    content: "9";
}
.mp-muted:before,
.mp-muted.right:after {
    content: "0";
}
.mp-signal:before,
.mp-signal.right:after {
    content: "`";
}
.mp-wave:before,
.mp-wave.right:after {
    content: "~";
}
.mp-warning:before,
.mp-warning.right:after {
    content: "!";
}
.mp-at:before,
.mp-at.right:after {
    content: "@";
}
.mp-bill:before,
.mp-bill.right:after {
    content: "#";
}
.mp-money:before,
.mp-money.right:after {
    content: "$";
}
.mp-checked:before,
.mp-checked.right:after {
    content: "%";
}
.mp-rss:before,
.mp-rss.right:after {
    content: "^";
}
.mp-pin:before,
.mp-pin.right:after {
    content: ",";
}
.mp-star:before,
.mp-star.right:after {
    content: "*";
}
.mp-settings:before,
.mp-settings.right:after {
    content: "(";
}
.mp-award:before,
.mp-award.right:after {
    content: ")";
}
.mp-triangle-up:before,
.mp-triangle-up.right:after {
    content: "-";
}
.mp-cut:before,
.mp-cut.right:after {
    content: "_";
}
.mp-plus:before,
.mp-plus.right:after {
    content: "+";
}
.mp-info:before,
.mp-info.right:after {
    content: "=";
}
.mp-arrow-down:before,
.mp-arrow-down.right:after {
    content: "[";
}
.mp-time:before,
.mp-time.right:after {
    content: "{";
}
.mp-arrow-up:before,
.mp-arrow-up.right:after {
    content: "]";
}
.mp-time-alt:before,
.mp-time-alt.right:after {
    content: "}";
}
.mp-stop:before,
.mp-stop.right:after {
    content: "'";
}
.mp-colon:before,
.mp-colon.right:after {
    content: ":";
}
.mp-semicolon:before,
.mp-semicolon.right:after {
    content: ";";
}
.mp-triangle-left:before,
.mp-triangle-left.right:after {
    content: "<";
}
.mp-triangle-right:before,
.mp-triangle-right.right:after {
    content: ">";
}
.mp-question:before,
.mp-question.right:after {
    content: "?";
}
.mp-triangle-down:before,
.mp-triangle-down.right:after {
    content: "/";
}
