$fontFamily: 'Modern Pictograms';
$fileName: 'modernpictograms-webfont';

@font-face {
    font-family: $fontFamily;
	src: url('../fonts/#{$fileName}.eot');
	src: url('../fonts/#{$fileName}.eot?#iefix') format('embedded-opentype'),
	url('../fonts/#{$fileName}.woff') format('woff'),
	url('../fonts/#{$fileName}.ttf') format('truetype');
}

.mp-icon,
[class^="mp-"]:before,
[class*=" mp-"]:before,
[class^="mp-"].right:after,
[class*=" mp-"].right:after {
	font-family: $fontFamily;
}

@mixin icon($key, $icon) {
	.mp-#{$icon} {
		&:before,
		&.right:after {
			content: $key;
		}
	}
}

@include icon("A", "camera");
@include icon("B", "book");
@include icon("C", "cd");
@include icon("D", "download");
@include icon("E", "eye");
@include icon("F", "facebook");
@include icon("G", "facebook-alt");
@include icon("H", "handycam");
@include icon("I", "trash");
@include icon("J", "label");
@include icon("K", "file");
@include icon("L", "unlike");
@include icon("M", "ipod");
@include icon("N", "mobile");
@include icon("O", "smartphone");
@include icon("Q", "tablet");
@include icon("R", "refresh");
@include icon("S", "presentation");
@include icon("T", "tumblr");
@include icon("U", "tumblr-alt");
@include icon("V", "notes");
@include icon("W", "windows");
@include icon("X", "cancel");
@include icon("Y", "announcement");
@include icon("Z", "text");
@include icon("a", "news");
@include icon("b", "chat");
@include icon("c", "phone");
@include icon("d", "printer");
@include icon("e", "pencil");
@include icon("f", "male");
@include icon("g", "group");
@include icon("h", "video-camera");
@include icon("i", "cart");
@include icon("j", "heart");
@include icon("k", "female");
@include icon("l", "like");
@include icon("m", "mail");
@include icon("n", "locked");
@include icon("o", "options");
@include icon("p", "home");
@include icon("q", "unlocked");
@include icon("r", "pencil-alt");
@include icon("s", "search");
@include icon("t", "bird");
@include icon("u", "exit-fullscreen");
@include icon("v", "fullscreen");
@include icon("w", "www");
@include icon("x", "cancel-alt");
@include icon("y", "zoom-in");
@include icon("z", "zoom-out");
@include icon("1", "volume-down");
@include icon("2", "volume-up");
@include icon("3", "calendar");
@include icon("4", "list");
@include icon("5", "columns");
@include icon("6", "line-chart");
@include icon("7", "chart");
@include icon("8", "circle-chart");
@include icon("9", "bell");
@include icon("0", "muted");
@include icon("`", "signal");
@include icon("~", "wave");
@include icon("!", "warning");
@include icon("@", "at");
@include icon("#", "bill");
@include icon("$", "money");
@include icon("%", "checked");
@include icon("^", "rss");
@include icon(",", "pin");
@include icon("*", "star");
@include icon("(", "settings");
@include icon(")", "award");
@include icon("-", "triangle-up");
@include icon("_", "cut");
@include icon("+", "plus");
@include icon("=", "info");
@include icon("[", "arrow-down");
@include icon("{", "time");
@include icon("]", "arrow-up");
@include icon("}", "time-alt");
@include icon("'", "stop");
@include icon(":", "colon");
@include icon(";", "semicolon");
@include icon("<", "triangle-left");
@include icon(">", "triangle-right");
@include icon("?", "question");
@include icon("/", "triangle-down");
